body { font-size: 62.5%; font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif"; }
table { border: none; border-collapse: collapse; width: 400px; }
th { text-align: left; }
td { padding-left: 5px; }
h2 { margin-left: 10px; font-size: 28px; font-weight: bold; }
h3 { margin-top: 0; font-size: 18px; }
.userAdd { font-size: 10px; }
.userDel { font-size: 10px; position: relative; float: left; }
.userEdit { font-size: 10px; position: relative; float: left; }
.tab {
    position: relative;
    float: left;
    border: 1px dotted black;
    width: 100px;
    height: 20px;
    margin-right: 20px;
    line-height: 18px;
    text-align: center;
}
.tablink {
    position:absolute; 
    width:100%;
    height:100%;
    top:0;
    left: 0;
    background-color: white;
    z-index: 1;
}
.tab a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}
.tab a:hover .tablink {
    background-color: #6666ff;
    color: #ffffff;
}

.rank {
    position: relative;
    float: left;
    width: 225px;
    margin: 20px;
    height: 150px;
}
.rankmenu {
    font-size: 12px;
    width: 180px;
}

#activeTab {
    background-color: #0000ff;
    color: #ffffff;
    font-weight: bold;
}
#tabs {
    position: absolute;
    top: 80px;
    left: 20px;
    border: none;
    width: 800px;
    height: 20px;
    font-size: 12px;
}

#rank1 {}
#rank2 {}
#rank3 {}

#content {
	position: absolute;
	top: 110px;
	left: 20px;
	border: 1px dotted black;
	width: 800px;
	min-height: 100px;
	padding: 10px;
	padding-bottom: 20px;
    font-size: 14px;
}

#query {}
#dialog {}
#debug {
    position: absolute;
    bottom: 0px;
    min-height: 0px;
    max-height: 100px;
    width: 100%;
    left: 0px;
    background-color: red;
    color: white;
    font-family: monospace;
    font-size: 10px;
}
#romode {
    position: absolute;
    top: 25px;
    right: 0px;
    height: 27px;
    width: 180px;
    background-color: red;
    color: white;
    font-family: monospace;
    font-size: 22px;
    text-align: left;
    padding-left: 10px;
}
